<!--         <div href='#target'class="trigger-container" id="trigger"><div class="inside"><a  >the trigger</a></div></div>
        <div class="trigger-container" id='target'>the target</div>
        <ul>
	    <li class="monsters">Nessy</li>
	    <li class="monsters">Big Foot</li>
	    <li class="monsters">La Chupacabra</li>
		</ul>
		<table>
			<caption>table title and/or explanatory text</caption>
				<tr ng-repeat="d in data | simpleFilter">
					<th>number is : {{d}}</th>
				</tr>
		</table> -->
		<form id="sign-up" name="signIn" ng-submit="signIn.$valid && signUp(model)">

			<pre>{{signIn | json}}</pre>
			<pre>{{model | json}}</pre>		
			 <div class="form-group" ng-class="{ 'has-error' : !signIn.firstName.$pristine }">
        <label for="firstName">First Name <span ng-show="signIn.firstName.$invalid&&!signIn.firstName.$pristine&&signIn.$submitted" class="submitted">Your first name is too short.</span></label>
        <input type="text" ng-model="model.firstName" required ng-minlength="2" ng-class="{'submitted': signIn.firstName.$invalid&&!signIn.firstName.$pristine&&signIn.$submitted}" name="firstName"class="form-control" id="firstName" placeholder="Enter first name">
    </div>
    <button type="submit"> submit</button>
		</form>
