<div class="header">
	<ul>
		<li> Menu</li>
		<li> Search</li>
		<li> Sign In</li>	
		<li> About</li>	
	</ul>
	<select class='select-box'>
		<option> Menu</option>
		<option> Search</option>
		<option> Sign In</option>	
		<option> About</option>	
	</select>
</div>
	<form id="delete-form" name="deleteemail" ng-submit="deleteEntry(deleteObject)">
	<div class="form-group">
	<label for="email">Type email to remove</lable>
	<input type='text' name="email" class="form-control" placeholder="erase" ng-model='deleteObject'>
	</div>
	<button type="submit">Remove</button>
	</form>


		<form id="sign-up" name="signIn" ng-submit="signIn.$valid && signUp(model)">

			
<!-- 			<pre>{{model | json}}</pre>		
 -->			 <div class="form-group" ng-class="{ 'has-error' : !signIn.firstName.$pristine }">
        <label for="firstName">First Name <span ng-show="signIn.firstName.$invalid&&!signIn.firstName.$pristine&&signIn.$submitted" class="submitted">Your first name is too short.</span></label>
        <input type="text" ng-model="model.firstName" required ng-minlength="2" ng-class="{'submitted': signIn.firstName.$invalid&&!signIn.firstName.$pristine&&signIn.$submitted}" name="firstName"class="form-control" id="firstName" placeholder="Enter first name">
    </div>
    <div class="form-group" ng-class="{ 'has-error' : !signIn.email.$pristine }">
        <label for="email">email<span ng-show="signIn.email.$invalid&&!signIn.email.$pristine&&signIn.$submitted" class="submitted">Your first name is too short.</span></label>
        <input type="text" ng-model="model.email" required ng-minlength="2" ng-class="{'submitted': signIn.email.$invalid&&!signIn.email.$pristine&&signIn.$submitted}" name="email"class="form-control" id="email" placeholder="Enter first name">
    </div>
    <button type="submit"> submit</button>
		</form>


	<button ng-click="getAll()">get all</button>
<!-- 	<pre>{{signIn | json}}</pre>
 -->	<div ng-repeat="user in responseUsers | checkmark ">{{user.email }}</div>
